body {
    text-align: center;
    font-family: Arial, sans-serif;
}

#username-form {
    margin: 20px;
}

#score-container {
    margin: 20px;
}

#click-area {
    width: 100px;
    height: 100px;
    background-color: #3498db;
    margin: 0 auto;
    cursor: pointer;
}

#leaderboard {
    list-style-type: none;
    margin: 20px;
    padding: 0;
}

#leaderboard li {
    margin: 5px;
}
